.modal{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 40%;
    left: 50%;
    z-index: 11;
    padding: 10px;
    transform: translate(-50%, 50%);
    bottom: -800px;
    transition: bottom 0.3s;
}

.btn_container{
    float: right;
    width: 200px;
}

.show_modal{
    bottom: 500px;
}